<style>
    #canvas_div {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    canvas {
        border: 2px solid black;
    }
</style>
<div id="canvas_div" style="overflow-x: auto;">
    <canvas id="canvas" width="500" height="500"></canvas>
    <p></p>
    <h2 id="number"></h2>
    <p></p>
    <button id="clearButton">Очистить</button>
    <button id="recognizeButton" onclick="request_func()">Распознать</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    function request_func() {
        const context = document.getElementById('canvas').getContext('2d');
        const picture = context.getImageData(0, 0, 500, 500);
        const s = JSON.stringify(picture);
        $.ajax({
            url: "/request",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(s),
            success: function (data) {
                const num = $('#number');
                num.empty();
                num.append("Нарисованная цифра: " + data);
            },
        });
    }
</script>
<script>
const canvas = document.getElementById('canvas');
const clearButton = document.getElementById('clearButton');
const context = canvas.getContext('2d');
let isDrawing = false;
let x = 0;
let y = 0;
let offsetX;
let offsetY;

function startup() {
    clearButton.addEventListener('click', clearArea);
    canvas.addEventListener('touchstart', handleStart);
    canvas.addEventListener('touchend', handleEnd);
    canvas.addEventListener('touchcancel', handleCancel);
    canvas.addEventListener('touchmove', handleMove);
    canvas.addEventListener('mousedown', (e) => {
        x = e.offsetX;
        y = e.offsetY;
        isDrawing = true;
    });

    canvas.addEventListener('mousemove', (e) => {
        if (isDrawing) {
            drawLine(context, x, y, e.offsetX, e.offsetY);
            x = e.offsetX;
            y = e.offsetY;
        }
    });

    canvas.addEventListener('mouseup', (e) => {
        if (isDrawing) {
            drawLine(context, x, y, e.offsetX, e.offsetY);
            x = 0;
            y = 0;
            isDrawing = false;
        }
    });
}

document.addEventListener("DOMContentLoaded", startup);

const ongoingTouches = [];

function handleStart(evt) {
    evt.preventDefault();
    const touches = evt.changedTouches;
    offsetX = canvas.getBoundingClientRect().left;
    offsetY = canvas.getBoundingClientRect().top;
    for (let i = 0; i < touches.length; i++) {
        ongoingTouches.push(copyTouch(touches[i]));
    }
}

function handleMove(evt) {
    evt.preventDefault();
    const touches = evt.changedTouches;
    for (let i = 0; i < touches.length; i++) {
        const color = "black";
        const idx = ongoingTouchIndexById(touches[i].identifier);
        if (idx >= 0) {
            context.beginPath();
            context.moveTo(ongoingTouches[idx].clientX - offsetX, ongoingTouches[idx].clientY - offsetY);
            context.lineTo(touches[i].clientX - offsetX, touches[i].clientY - offsetY);
            context.lineWidth = 20;
            context.strokeStyle = color;
            context.lineJoin = "round";
            context.closePath();
            context.stroke();
            ongoingTouches.splice(idx, 1, copyTouch(touches[i]));  // swap in the new touch record
        }
    }
}

function handleEnd(evt) {
    evt.preventDefault();
    const touches = evt.changedTouches;
    for (let i = 0; i < touches.length; i++) {
        const color = "black";
        let idx = ongoingTouchIndexById(touches[i].identifier);
        if (idx >= 0) {
            context.lineWidth = 20;
            context.fillStyle = color;
            ongoingTouches.splice(idx, 1);  // remove it; we're done
        }
    }
}

function handleCancel(evt) {
    evt.preventDefault();
    const touches = evt.changedTouches;
    for (let i = 0; i < touches.length; i++) {
        let idx = ongoingTouchIndexById(touches[i].identifier);
        ongoingTouches.splice(idx, 1);  // remove it; we're done
    }
}

function copyTouch({identifier, clientX, clientY}) {
    return {identifier, clientX, clientY};
}

function ongoingTouchIndexById(idToFind) {
    for (let i = 0; i < ongoingTouches.length; i++) {
        const id = ongoingTouches[i].identifier;
        if (id === idToFind) {
            return i;
        }
    }
    return -1;    // not found
}

function drawLine(context, x1, y1, x2, y2) {
    context.beginPath();
    context.strokeStyle = "black"
    context.lineWidth = 20;
    context.lineJoin = "round";
    context.moveTo(x1, y1);
    context.lineTo(x2, y2);
    context.closePath();
    context.stroke();
}

function clearArea() {
    context.setTransform(1, 0, 0, 1, 0, 0);
    context.clearRect(0, 0, context.canvas.width, context.canvas.height);
}
</script>